/* #head{
    color: wheat;
    background-color: grey;
}

div.contain{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10%;
    color: wheat;
    text-align: center;
} */