{% extends 'main/base.html' %}

{% block title %}
<title>TASKS PRO | View your saved tasks</title>
{% endblock %}

{% block head %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'main/mainList.css' %}"> -->
{% endblock %}

{% block content %}
<div class="contain">
    <ul>
        {% for task in tasks %}
        <li>{{ task }}</li>
        {% empty %}
        <p>No tasks to show.</p>
        {% endfor %}
    </ul>
</div>
<a href="{% url 'tasks:mainForm' %}">Create New Tasks</a>
{% endblock %}
